# Python cache files
__pycache__/
*.py[cod]

# Model files (you don't need to version control these)
*.tflite
*.joblib
*.pkl

# Virtual environment
venv/

# Gradle and Android Studio files
.gradle/
build/
.idea/
*.iml

# Operating system files
.DS_Store
Thumbs.db
